
<div *ngIf="selectedUser" class="well">
    <div class="panel panel-default">        
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  
  <div class="panel-body">
      <table class="table table-striped">
          <tr>
              <td colspan="2"><img [src]="selectedUser.avatar_url" alt="" class="img-rounded"/> 
              <div class="pull-right"><a (click)="goBack()">All Users</a></div></td>
          </tr>
          <tr>
              <td>Name</td>
              <td>{{selectedUser.name}}</td>
          </tr>
          <tr>
              <td>Email</td>
              <td>{{selectedUser.email}}</td>
          </tr>
          <tr>
              <td>Number or Repositories</td>
              <td><a (click)="goToRepos()">{{selectedUser.public_repos}}</a></td>
          </tr>
          <tr>
              <td>Followers</td>
              <td><a (click)="goToFollowers()">{{selectedUser.followers}}</a></td>
          </tr>
          <tr>
              <td>Following</td>
              <td><a (click)="goToFollowing()">{{selectedUser.following}}</a></td>
          </tr>
          <tr>
              <td>Created</td>
              <td>{{selectedUser.created_at | truncate : 10}}</td>
          </tr>
          <tr>
              <td>Last modified</td>
              <td>{{selectedUser.updated_at | truncate : 10}}</td>
          </tr>
      </table>
  </div>
</div>  
</div>